.page-layout { display: grid; grid-template-columns: 240px minmax(0, 1fr) 260px; max-width: 1600px; margin: 0 auto; }
.filters-space { border-right: 1px solid #edf0eb; margin-right: 20px; min-height: calc(100vh - 76px); }
@media (max-width: 1279px) {
  .page-layout { grid-template-columns: 220px minmax(0, 1fr) 40px; }
}
@media (max-width: 959px) {
  .page-layout { grid-template-columns: minmax(0, 1fr); padding: 0 24px; }
  .future-space { display: none; }
  .filters-space { border: 0; margin: 20px 0 0; min-height: 0; }
}
@media (max-width: 559px) {
  .page-layout { padding: 0 20px; }
}
